$muted: #4a6375;
$muted2: #374957;

.small {
  color: $muted;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

.large {
  font-size: 18px;
  color: $muted2;
  font-weight: 400;
  line-height: 1.4;
}
